html, body {
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main Container */
#container {
    max-width: 700px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Messages Container */
#messages-container {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 8px;
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    padding: 8px;
    box-sizing: border-box;
}

/* Message Rows and Messages */
.message-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.user-side {
    justify-content: flex-end;
}

.bot-side {
    justify-content: flex-start;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 16px;
    border-radius: 8px;
    background: #F4F4F4;
    max-width: 50%;
    font-size: 16px;
}

p {
    margin-block: 0;
}

/* Input Section */
#input-container {
    margin-top: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

/* Textarea Styles */
textarea {
    font-size: 16px;
    resize: none;
}

#user-input {
    padding: 8px;
    margin-right: 8px;
    border-radius: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    background-color: #F4F4F4;
}

#user-input::placeholder {
    font-size: 16px;
    color: gray;
}

/* Button Styles */
#send-message-btn {
    font-size: 16px;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: white;
}

#send-message-btn:hover {
    background-color: #F4F4F4;
}
